<app-nabvar></app-nabvar>

<div class="container mt-3">

	<div class="card mt-5">
		<div class="card-header">Consulta 5: Lista de las poblaciones meta y la cantidad de proyectos de voluntariado para cada población. </div>

		<div class="card-body">
			<form class="d-flex">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>

		<div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
						<th>Poblacion Meta</th>
                        <th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" >
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>