<app-nabvar></app-nabvar>

<div class="container mt-3">

	<div class="card mt-5">
		<div class="card-header">Consulta 4: Proyectos (nombre, país y población meta) asociados a un voluntario </div>

		<div class="card-body">
			<form class="d-flex">
				<select class="p-2 flex-grow-1 bd-highlight" [(ngModel)]="selected_item" name="selected_item">
					<option value="" selected > --Seleccione un voluntario-- </option> <!-- Default item to show -->
					<option *ngFor="let item of listaVoluntarios " [value]="item">
						{{item}}
					</option>
				</select>
				<button class="btn btn-outline-success" type="submit" (click)="cargarOrganizaciones()">Search</button>
			</form>
		</div>

		<div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
						<th>Nombre</th>
						<th>Pais</th>
                        <th>Poblacion Meta</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let proyecto of proyectos; let i = index">
						<td>{{proyecto.Nombre}}</td>
						<td>{{proyecto.Pais}}</td>
                        <td>{{proyecto.Poblacion_Meta}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>