<app-nabvar-relaciones></app-nabvar-relaciones>

<div class="container mt-3">

    <div class="card mt-5">
        <div class="card-header">Relacion 1: Relacionar organizaciones con proyectos </div>

        <div class="card-body">
            <form class="d-flex">
                <select class="p-2 flex-grow-1 bd-highlight" [(ngModel)]="organizacion_seleccionada" name="organizacion_seleccionada">
                    <option value="" selected> --Seleccione una organizacion-- </option> <!-- Default item to show -->
                    <option *ngFor="let item of listaOrganizaciones " [value]="item">
                        {{item}}
                    </option>
                </select>
                <select class="p-2 flex-grow-1 bd-highlight" [(ngModel)]="proyecto_seleccionado" name="proyecto_seleccionado">
                    <option value="" selected> --Seleccione un proyecto-- </option> <!-- Default item to show -->
                    <option *ngFor="let item of listaProyectos " [value]="item">
                        {{item}}
                    </option>
                </select>
                <button class="btn btn-outline-success" type="submit" (click)="cargarOrganizaciones()">Search</button>
            </form>
        </div>

    </div>

</div>